apiVersion: apps/v1
kind: Deployment
metadata:
  name: comments-depl
spec:
  replicas: 3
  selector:
    matchLabels:
      app: comments
  template:
    metadata:
      labels:
        app: comments
    spec:
      containers:
      - name: comments
        image: kaareltiitt6nts/blog:comments
      imagePullSecrets:
        - name: kaareltiitt6nts-secret
