apiVersion: v1
kind: Service
metadata:
  name: event-bus-serv
spec:
  type: NodePort
  selector:
    app: event-bus
  ports:
    - name: event-bus
      protocol: TCP
      port: 5000
      targetPort: 5000
