apiVersion: apps/v1
kind: Deployment
metadata:
  name: moderation-depl
spec:
  replicas: 3
  selector:
    matchLabels:
      app: moderation
  template:
    metadata:
      labels:
        app: moderation
    spec:
      containers:
      - name: moderation
        image: kaareltiitt6nts/blog:moderation
      imagePullSecrets:
        - name: kaareltiitt6nts-secret
